<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?=$blogs['title']?></title>
</head>
<body>
    <h1><?=$blogs['title']?></h1>
    <span>发表时间<?=$blogs['created_at']?></span>
    浏览量：<span id="display"></span>
    <p><?=$blogs['content']?></p>
</body>
</html>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script>
    // 更新数据 浏览量  http://localhost:8989/blog/display?id=23
    // 第一步 获取id
    var id = "<?=$blogs['id']?>";
    // 第二步定义接口地址
    var url = "/blog/display?id="+id;
    // 第三步 用 ajax 请求服务器
    $.ajax({
         type:"GET",
         url:url,
        success:function(data)
         {
             // 把返回的浏览量放到页面
            $("#display").html(data);
         }
});
</script>