<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?=$blog['title']?></title>
    <style>
        .zan-list {
        border: 1px solid skyblue;
        padding: 0;
        text-align: center;
    }
    .headimg {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid skyblue;
        padding: 5px;
        margin-left: 20px;
    }
    .zan-list h3 {
        padding: 0;
        margin-top: 0;
        background-color: #EEE;
        padding: 5px;
    }
    </style>
</head>
<body>
    <h1>系统</h1>
     <div id="menu"></div>
    <h1><?=$blog['title']?></h1>
    <span>发表时间<?=$blog['created_at']?></span>
    <p>浏览量：<span id="display"></span></p>
    <p><?=$blog['content']?></p>
    <img style="cursor: pointer; width:120px;" id="btn-zan" src="/images/agree.jpg" alt="">
    <div class="zan-list">
            <h3>点赞列表</h3>
            <div id="zan-list"></div>
    </div>
    <?php view('common.footer')?>
</body>
</html>
<script src="/simditor-2.3.6/scripts/jquery.min.js"></script>
<script>
    // 更新数据 浏览量  http://localhost:8989/blog/display?id=23
    // 第一步 获取id
    var id = "<?=$blog['id']?>";
    // console.log(id);
    // 第二步定义接口地址
    var url ="/blog/display?id=" + id;
    // 第三步 用 ajax 请求服务器
    $.ajax({
         type:"GET",
         url:url,
         dataType:"json",
        success:function(data)
         {
             console.log($data);
             // 把返回的浏览量放到页面
            $("#display").html(data.display);
            // 拼按钮的字符串
            // 无论登录否都有一个首页的按钮
            var html = '<a href="/">首页</a>';
            // 判断登录
            if(data.email == '')
            {
                // js 中定义多行字符串时要使用 ` （反引号 1左边的键子）
                html += `<a href="/user/register">注册</a>
                        <a href="/user/login">登录</a>`;
            }
            else
            {
                html += '<img src="'+data.headimg+'" style="width:50px;height:50px;border-radius: 50%;vertical-align: middle;">' + data.email + 
                         `<a href="/blog/list">列表页</a>
                        <a href="/user/textExl">导出excel文件</a>
                        <a href="/blog/create">发表日志</a> 
                        <a href="/user/headimg">上传头像</a>
                        <a href="/user/arrayfile">上传相册</a>
                        <a href="/user/logout">退出</a>`;
            }
            // 获取id=menu的div 并把按钮放进去
            $("#menu").html(html);

         }
    });
    $("#btn-zan").click(function(){
        // console.log('1');
        $.ajax({
            type:"POST",
            url:"/blog/zan?id="+id,
            dataType:"json",
            success:function(data)
            {
                if(data.status_code == 200)
                {
                    alert('成功~');
                }
                else
                {
                    alert(data.message);
                }
            }
        })

    });
    // 点赞用户
    $.ajax({
        type:"GET",
        url:"/blog/zan_list?id="+id,
        dataType:'json',
        success:function(data){
            // alert(data);
            if(data.status_code == 200){
                var html = '';
                for(var i =0;i<data.data.length;i++){
                    var headimg = data.data[i].headimg ? data.data[i].headimg : '/images/headimg.jpg';
                    html += '<img title="'+data.data[i].email+'" class="headimg" src="'+headimg+'" alt="">';
                }
                // 把字符串放到页面
                $("#zan-list").html( html )
            }
        }
    });
</script>